{% extends "core/base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/style/slave.css' %}" />

    <h1>{{ slave.name }} </h1>
    <input type="hidden" id="slave_id" value="{{ slave.id }}">
    <input type="hidden" id="region_id" value="{{ slave.region_id }}">

    <section id="slave_attributes">
    {% if attributes %}
        {% for param, value in attributes.items %}
        <div id="slave_attribute_div">
            {{ param|title }}: {{ value }}
        </div>
        {% endfor %}
    {% endif %}
    </section>    
    
    
    <section id="slave_assign_to_task" style="display:none">
        <script src="{% static 'core/js/forms/slave_assign_to_task_form.js' %}"></script>
        Assign to task:
        <form id="slave_assign_to_task_form" method="post" action="">
        <select id="slave_assign_to_task_field_task" type="select" name="task">
            <option id="slave_assign_to_task_field_task_option" selected="selected" value="">
                -
            </option>
        </select>
        <input id="slave_assign_to_task_field_slave" type="hidden" name="slave" value="{{ slave.id }}">
        <input id="slave_assign_to_task_submit" type="submit" name="submit_button" value="Assign">
        </form>
    </section>
    
    <section id="running_assignments" style="display:none">
        <script src="{% static 'core/js/pages/slave_assignments.js' %}"></script>
        <input id='running_assignment_id' type='hidden' value=''> 
        <ul id="running_assignment">
            <li id="running_assignment_name"></li>
            <li id="running_assignment_release"><a onClick="releaseAssignment()">Release</a></li>
        </ul>
    </section>

    <section id="slave_summary">
    {% if slave %}
        {% for param, value in slave.items %}
        <div id="location_type_div">
            {{ param|title }}: {{ value }}
        </div>
        {% endfor %}
        
        <div id="location_design_div">
            Age: {{ slave.age }}
        </div>
    {% endif %}
    </section>    
{% endblock content %}
