li.item_id {
    display:none;
}

li.item_itype {
    display:none;
}
/* -sending form style- */
#sendingItemsForm {
	border: 1px solid black;
	border-radius: 3px;
	width: 205px;
	padding: 5px;
}
#sendingItemsForm select {
	width: 204px;
}
#sendingItemsForm input[name="amount"] {
	width: 200px;
	text-align: center;
	padding: 0;
}